<form action="/signup" method="POST">

   {{#if errorMessage}}
   <p class="error">
   {{errorMessage}}
   </p>
   {{/if}} 

   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Creat an account!</button>
</form>


   
