   <p class= "title-homepage"><strong> Are you ready to level up?</strong></p>
    
        
    <div id= "links-homepage">
        <a class= "link-signup" href="/signup">Register</a>
        <a class= "link-login" href="/login">Login</a>
    </div>
        







 
    



