<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<nav>
    <ul>
        <li>
            <a href="/signup">Register</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
            
        </li>
    </ul>
</nav>