@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

/* Deep Blue: #003B46
Ocean : #07575B
Wave:#66A5AD
Seaform: #C4DFE6 */

body {
  background-color: #BDB9B3;
  padding: 50px;
  font-family: Roboto;
  font-size: 14px 
}

a {
  color: #131314;
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #07575B;
  border: 1px solid #5F7376;
  border-radius: 4px;
  color: #C4DFE6;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #95A1A2;
  color: #fff;
  transition: 0.3s ease background;
}

.error {
  background: #003B46;
  box-sizing: border-box;
  color: #C4DFE6;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}


ul {
  border-bottom: 2px solid #5F7376;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}


.row-flex {
  display: flex;
  flex-wrap: wrap;
}

[class*="col-"] {
  margin-bottom: 30px;
}

.content {
  height: 100%;
  padding: 20px 20px 10px;
  color: #fff;
}

/* #row{
  max-width: calc(25% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;

} */



.image{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}
.image img{
  position: absolute;
  height: 300px;
  width: auto;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* .image-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}
.image-wrapper img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
} */


/* HOMEPAGE "/" */


.hand-img {
  height: 40px;
  width: 40px;
}

.header {
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: space-between;
  
}


.name-app{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#links-homepage {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-top: 20rem;
}

.link-signup {
  background: #07575B;
  border: 1px solid #5F7376;
  border-radius: 4px;
  color: #C4DFE6;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  margin-right: 5rem;
  
}

.link-login {
  background: #07575B;
  border: 1px solid #5F7376;
  border-radius: 4px;
  color: #C4DFE6;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  margin-left: 5rem;
}


.link-logout {
  background: #07575B;
  border: 1px solid #5F7376;
  border-radius: 4px;
  color: #C4DFE6;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  text-align: center;
}


.link-login:hover {
  background: #95A1A2;
  color: #fff;
  transition: 0.3s ease background;
}

.link-logout:hover {
  background: #95A1A2;
  color: #fff;
  transition: 0.3s ease background;

}

.link-signup:hover {
  background: #95A1A2;
  color: #fff;
  transition: 0.3s ease background;
}

/* SIGN-UP PAGE */

.form-register {
  margin-top: 50rem;
  display: flex;
  
}

.title-signup {
  margin-top: 5rem;
  text-align: center;
}

/* LOG IN  PAGE*/
.title-login {
  margin-top: 5rem;
  text-align: center;
}

/* SurftrickLIST */


.links-surftricklist{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.link-create {
  background: #07575B;
  border: 1px solid #5F7376;
  border-radius: 4px;
  color: #C4DFE6;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  text-align: center;

}

.link-create:hover {
  background: #95A1A2;
  color: #fff;
  transition: 0.3s ease background;

}