<h2>Create your Surf Trick!</h2>

<hr>

<form action="/surftrickList/create" method= "post">


{{!-- 
    <label>Author
         <input type="text" name= "name"/>
    </label> --}}

    <label>Trick Name
        <input type="text" name= "name"/>
    </label>

    <label>Upload your image
        <input type="text" name= "image"/>
    </label>

    <label>Description
        <textarea name= "description" cols= "30" rows= "4"></textarea>
    </label>


    <label>Rating of difficulty
        <input type="number" name= "rateOfDifficulty" min="1" max="10" />
    </label>

    <button type="submit">Submit your trick!</button>

</form>