<h2>Create your Surf Trick!</h2>

<hr>

<div class="row">
    <div class="form-create">
        <form action="/surftrickList/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Trick Name:
                    <input type="text" name="name" class="form-control" />
                </label>
            </div>

            <div class="form-group">
                <label>Description:
                    <textarea name="description" cols="30" rows="4"></textarea>
                </label>
            </div>

            <div class="form-group">
                <label>Image:
                    <input type="file" name="image" class="form-control-file" />
                </label>
            </div>

            <div class="form-group">
                <label>Rating of difficulty:
                    <input type="number" name="rateOfDifficulty" min="1" max="10" class="form-control-file" />
                </label>
            </div>
            <button type="submit" class="submit-btn">Submit your trick!</button>
        </form>
    </div>
</div>

